<footer class="site-footer">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="container">
        <div class="footer">
            <div class="siteDescription">
                <a href="http://maps.apple.com/?daddr=697+Parkersburg+Tpke,+Staunton+Virginia,+24401">697 Parkersburg Tpke Staunton, Virginia, 24401</a>
                <br>
                <a href="tel:540-886-5011">540-886-5011</a>
            </div>
            <div class="siteCopyright">
                <p id="copyright">© Swoope Volunteer Fire Comapny. All rights reserved.</p>
            </div>
        </div>

    </div>
    <script src="/assets/js/javascript.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
</footer>