<footer class="site-footer">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="container">
        <div class="footer">
            <div class="siteDescription">
                <div>
                    <a href="http://maps.apple.com/?daddr=697+Parkersburg+Tpke,+Staunton+Virginia,+24401">697 Parkersburg Tpke Staunton, Virginia, 24401</a>
                    <br>
                    <a href="tel:540-886-5011">540-886-5011</a>
                </div>

            </div>
            <div id="siteBadge">
                <div>
                    <a href="">
                        <img src="/assets/img/svfc-badge.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="siteCopyright">
                <div>
                <a id="copyright">© Swoope Volunteer Fire Comapny. All rights reserved.</a>
                <br>
                <a>Established January 1st, 1980</a>
            </div>
            </div>
        </div>

    </div>
    <script src="/assets/js/javascript.js"></script>
    <script type="module" src="/assets/js/volume.js"></script>
    <script src="/assets/js/chart.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
</footer>