{% comment %}

Updated the Nav v2 July 8, 2024

{% endcomment %}
<div id="newNav">
  <div id="mobileNav">
    <div id="mobileHeader">
      <div id="hamburgerWrapper" class="mobileSplitSpacer mobileHamburgerSpacer">
        <div id="hamburger-icon" class="hamburgerBG">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
      </div>
      <div id="mobileNavImageWrap">
        <a href="/">
          <img id="mobileNavImage" src="/assets/img/title.png" alt="">
        </a>
      </div>
      <div class="mobileSplitSpacer">
      </div>
    </div>
  </div>
  <div id="desktopNav">
    <div id="navLogo">
      <a href="/">
        <img id="navImage" src="/assets/img/title.png" alt="">
      </a>
    </div>
    <div id="navSpace"></div>
    <div id="navMenu">
      <ul id="navList" class="navListBlur">
        <li><a href="/posts">Posts</a></li>
        <li><a href="/call-volume">Calls</a></li>
        <li><a href="/members">Members</a></li>
        <li><a href="/apparatus">Apparatus</a></li>
        <li><a href="/resources">Resources</a></li>
        <!-- <li><a class="outline" href="/join">Join</a></li> -->
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
  <div id="mobileContent" class="mobileNavContent">
    <ul>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/call-volume">Calls</a></li>
      <li><a href="/members">Members</a></li>
      <li><a href="/apparatus">Apparatus</a></li>
      <li><a href="/resources">Resources</a></li>
      <!-- <li><a class="outline" href="/join">Join</a></li> -->
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</div>