<div class="navbar" id="navbar">
    <header class="container flex">
      <div class="imgContainer">
        <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
          <ul class="mobile-menu">
            <li><a href="/about">About Us</a></li>
            <li><a href="/members">Membership</a></li>
            <li><a href="/apparatus">Apparatus</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/call-volume">Calls</a></li>
            <!-- <li><a href="/resources">Resources</a></li> -->
            <!-- <li><a href="/join">Join Us</a></li> -->
          </ul>
        </div>
        <a href="/">
          <img id="titleImg" src="/assets/img/title.png" alt="">
        </a>
      </div>
      <nav>
          <ul>
              <li><a href="/about">About</a></li>
              <li><a href="/members">Members</a></li>
              <li><a href="/apparatus">Apparatus</a></li>
              <li><a href="/posts">Posts</a></li>
              <li><a href="/call-volume">Calls</a></li>
              <!-- <li><a href="/resources">Resources</a></li> -->
              <!-- <li><a href="/join">Join</a></li> -->
          </ul>
      </nav>

    </header>
</div>