---
layout: base
---
<section class="membership">
    <h1>Operational Officers</h1>
    <hr/>
    <br/>
    <div class="membershipFlex">
        {% for member in site.members %}
            {% if member.position contains "Chief"  %}
                    <div class="memberImg">
                        <a href="{{ member.url | relative_url }}">
                            <img src="{{ member.profile }}"></img>
                            <h1>{{ member.name | escape }}</h1>
                            <h2>Fire Chief</h2>
                        </a>
                    </div>
            {% endif %}
        {% endfor %}
        {% for member in site.members %}
            {% if member.position contains "Deputy Chief"  %}
                    <div class="memberImg">
                        <a href="{{ member.url | relative_url }}">
                            <img src="{{ member.profile }}"></img>
                            <h1>{{ member.name | escape }}</h1>
                            <h2>Deputy Chief</h2>
                        </a>
                    </div>
            {% endif %}
        {% endfor %}
        {% for member in site.members %}
        {% if member.position contains "Captain"  %}
                <div class="memberImg">
                    <a href="{{ member.url | relative_url }}">
                        <img src="{{ member.profile }}"></img>
                        <h1>{{ member.name | escape }}</h1>
                        <h2>Captain</h2>
                    </a>
                </div>
        {% endif %}
    {% endfor %}
    {% for member in site.members %}
    {% if member.position contains "Lieutenant"  %}
            <div class="memberImg">
                <a href="{{ member.url | relative_url }}">
                    <img src="{{ member.profile }}"></img>
                    <h1>{{ member.name | escape }}</h1>
                    <h2>Lieutenant</h2>
                </a>
            </div>
    {% endif %}
    {% endfor %}
    {% for member in site.members %}
    {% if member.position contains "Sergeant"  %}
            <div class="memberImg">
                <a href="{{ member.url | relative_url }}">
                    <img src="{{ member.profile }}"></img>
                    <h1>{{ member.name | escape }}</h1>
                    <h2>sergeant</h2>
                </a>
            </div>
    {% endif %}
    {% endfor %}
    {% for member in site.members %}
    {% if member.position contains "EMS Captain"  %}
            <div class="memberImg">
                <a href="{{ member.url | relative_url }}">
                    <img src="{{ member.profile }}"></img>
                    <h1>{{ member.name | escape }}</h1>
                    <h2>EMS Captain</h2>
                </a>
            </div>
    {% endif %}
    {% endfor %}
    {% for member in site.members %}
    {% if member.position contains "EMS Lieutenant"  %}
            <div class="memberImg">
                <a href="{{ member.url | relative_url }}">
                    <img src="{{ member.profile }}"></img>
                    <h1>{{ member.name | escape }}</h1>
                    <h2>EMS Lieutenant</h2>
                </a>
            </div>
    {% endif %}
    {% endfor %}
    {% for member in site.members %}
    {% if member.position contains "Safety Officer"  %}
            <div class="memberImg">
                <a href="{{ member.url | relative_url }}">
                    <img src="{{ member.profile }}"></img>
                    <h1>{{ member.name | escape }}</h1>
                    <h2>Health & Safety Officer</h2>
                </a>
            </div>
    {% endif %}
    {% endfor %}
    {% for member in site.members %}
    {% if member.position contains "Training Officer"  %}
            <div class="memberImg">
                <a href="{{ member.url | relative_url }}">
                    <img src="{{ member.profile }}"></img>
                    <h1>{{ member.name | escape }}</h1>
                    <h2>Training Officer</h2>
                </a>
            </div>
    {% endif %}
    {% endfor %}
    </div>
    <br>
    <h1>Administrative Officers</h1>
    <hr/>
    <br/>
    <div class="membershipFlex">
        {% for member in site.members %}
        {% if member.position contains "President"  %}
                <div class="memberImg">
                    <a href="{{ member.url | relative_url }}">
                        <img src="{{ member.profile }}"></img>
                        <h1>{{ member.name | escape }}</h1>
                        <h2>President</h2>
                    </a>
                </div>
        {% endif %}
        {% endfor %}
        {% for member in site.members %}
        {% if member.position contains "Vice President"  %}
                <div class="memberImg">
                    <a href="{{ member.url | relative_url }}">
                        <img src="{{ member.profile }}"></img>
                        <h1>{{ member.name | escape }}</h1>
                        <h2>Vice President</h2>
                    </a>
                </div>
        {% endif %}
        {% endfor %}
        {% for member in site.members %}
        {% if member.position contains "Secretary"  %}
                <div class="memberImg">
                    <a href="{{ member.url | relative_url }}">
                        <img src="{{ member.profile }}"></img>
                        <h1>{{ member.name | escape }}</h1>
                        <h2>Secretary</h2>
                    </a>
                </div>
        {% endif %}
        {% endfor %}
        {% for member in site.members %}
        {% if member.position contains "Treasurer"  %}
                <div class="memberImg">
                    <a href="{{ member.url | relative_url }}">
                        <img src="{{ member.profile }}"></img>
                        <h1>{{ member.name | escape }}</h1>
                        <h2>Treasurer</h2>
                    </a>
                </div>
        {% endif %}
        {% endfor %}
        {% for member in site.members %}
        {% if member.position contains "Chiefs Aide"  %}
                <div class="memberImg">
                    <a href="{{ member.url | relative_url }}">
                        <img src="{{ member.profile }}"></img>
                        <h1>{{ member.name | escape }}</h1>
                        <h2>Chief's Aide</h2>
                    </a>
                </div>
        {% endif %}
        {% endfor %}
        {% for member in site.members %}
        {% if member.position contains "Operations Manager"  %}
                <div class="memberImg">
                    <a href="{{ member.url | relative_url }}">
                        <img src="{{ member.profile }}"></img>
                        <h1>{{ member.name | escape }}</h1>
                        <h2>Operations Manager</h2>
                    </a>
                </div>
        {% endif %}
        {% endfor %}
        {% for member in site.members %}
        {% if member.position contains "Chaplain"  %}
                <div class="memberImg">
                    <a href="{{ member.url | relative_url }}">
                        <img src="{{ member.profile }}"></img>
                        <h1>{{ member.name | escape }}</h1>
                        <h2>Chaplain</h2>
                    </a>
                </div>
        {% endif %}
        {% endfor %}
    </div>
    <br>
    <h1>Board Of Directors</h1>
    <hr/>
    <br/>
    <div class="membershipFlex">
        {% for member in site.members %}
        {% if member.position contains "Board Member"  %}
                <div class="memberImg">
                    <a href="{{ member.url | relative_url }}">
                        <img src="{{ member.profile }}"></img>
                        <h1>{{ member.name | escape }}</h1>
                    </a>
                </div>
        {% endif %}
        {% endfor %}
    </div>
    <br>
    <h1>Active Members</h1>
    <hr/>
    <br/>
    <div class="membershipFlex">
        {% for member in site.members %}
        {% if member.position contains "Active Member"  %}
                <div class="memberImg">
                    <a href="{{ member.url | relative_url }}">
                        <img src="{{ member.profile }}"></img>
                        <h1>{{ member.name | escape }}</h1>
                    </a>
                </div>
        {% endif %}
        {% endfor %}
    </div>
    <br>
    <h1>Probationary & Junior Members</h1>
    <hr/>
    <br/>
    <div class="membershipFlex">
        {% for member in site.members %}
        {% if member.position contains "Junior Member"  %}
                <div class="memberImg">
                    <a href="{{ member.url | relative_url }}">
                        <img src="{{ member.profile }}"></img>
                        <h1>{{ member.name | escape }}</h1>
                    </a>
                </div>
        {% endif %}
        {% endfor %}
        {% for member in site.members %}
        {% if member.position contains "Probationary Member"  %}
                <div class="memberImg">
                    <a href="{{ member.url | relative_url }}">
                        <img src="{{ member.profile }}"></img>
                        <h1>{{ member.name | escape }}</h1>
                    </a>
                </div>
        {% endif %}
        {% endfor %}
    </div>
    <br>
    <h1>Lifetime Members</h1>
    <hr/>
    <br/>
    <div class="membershipFlex">
        {% for member in site.members %}
        {% if member.position contains "Life Member"  %}
                <div class="memberImg">
                    <a href="{{ member.url | relative_url }}">
                        <img src="{{ member.profile }}"></img>
                        <h1>{{ member.name | escape }}</h1>
                    </a>
                </div>
        {% endif %}
        {% endfor %}
    </div>
</section>