---
layout: base
---
{% assign currentYear = site.time  | date: "%Y" %}
<div class="filterPages">
    <h1>Filter by Year</h1>
    <ul id="volumeList">
        <!-- <li class="volumeFilter" id="all-volume">
            All
        </li> -->
        {% for file in site.data.volume %}
            {% assign currentYear = site.time  | date: "%Y" %}
            {% assign dataYear = file[1] %}
            {% if dataYear.year == currentYear %}
                <li class="volumeFilter selected" id="{{dataYear.year}}-volume">
                    {{dataYear.year}}
                </li>
            {% else %}
                <li class="volumeFilter" id="{{dataYear.year}}-volume">
                    {{dataYear.year}}
                </li>
            {% endif %}  
        {% endfor %}
    </ul>
</div>
<div id="statWrapper" class="volumeParse" >
    <div id="textStats">
        <div id="textOverall">
            <p>Total Calls: <span id="totalSpan"></span></p>
        </div>
        <div id="textMinor">
            <p>Fire: <span id="fireSpan"></span></p>
            <p>MVC: <span id="mvcSpan"></span></p>
            <p>EMS: <span id="emsSpan"></span></p>
            <p>Other: <span id="otherSpan"></span></p>
        </div>
    </div>
</div>

<!-- <div style="height: 400px"> -->
    <canvas id="volChart" ></canvas>
<!-- </div> -->


{% for file in site.data.volume %}
    {% assign currentYear = site.time  | date: "%Y" %}
    {% assign dataYear = file[1] %}
    <p class="volumeParse" id="{{dataYear.year}}-data">
        {
                "{{dataYear.year}}":{
                "year":{{dataYear.year}},
                "january":{
                    "fire" : {{dataYear.january.fire}},
                    "mvc" : {{dataYear.january.mvc}},
                    "ems" : {{dataYear.january.ems}},
                    "other" : {{dataYear.january.other}}
                },
                "febuary":{
                    "fire" : {{dataYear.febuary.fire}},
                    "mvc" : {{dataYear.febuary.mvc}},
                    "ems" : {{dataYear.febuary.ems}},
                    "other" : {{dataYear.febuary.other}}
                },
                "march":{
                    "fire" : {{dataYear.march.fire}},
                    "mvc" : {{dataYear.march.mvc}},
                    "ems" : {{dataYear.march.ems}},
                    "other" : {{dataYear.march.other}}
                },
                "april":{
                    "fire" : {{dataYear.april.fire}},
                    "mvc" : {{dataYear.april.mvc}},
                    "ems" : {{dataYear.april.ems}},
                    "other" : {{dataYear.april.other}}
                },
                "may":{
                    "fire" : {{dataYear.may.fire}},
                    "mvc" : {{dataYear.may.mvc}},
                    "ems" : {{dataYear.may.ems}},
                    "other" : {{dataYear.may.other}}
                },
                "june":{
                    "fire" : {{dataYear.june.fire}},
                    "mvc" : {{dataYear.june.mvc}},
                    "ems" : {{dataYear.june.ems}},
                    "other" : {{dataYear.june.other}}
                },
                "july":{
                    "fire" : {{dataYear.july.fire}},
                    "mvc" : {{dataYear.july.mvc}},
                    "ems" : {{dataYear.july.ems}},
                    "other" : {{dataYear.july.other}}
                },
                "august":{
                    "fire" : {{dataYear.august.fire}},
                    "mvc" : {{dataYear.august.mvc}},
                    "ems" : {{dataYear.august.ems}},
                    "other" : {{dataYear.august.other}}
                },
                "september":{
                    "fire" : {{dataYear.september.fire}},
                    "mvc" : {{dataYear.september.mvc}},
                    "ems" : {{dataYear.september.ems}},
                    "other" : {{dataYear.september.other}}
                },
                "october":{
                    "fire" : {{dataYear.october.fire}},
                    "mvc" : {{dataYear.october.mvc}},
                    "ems" : {{dataYear.october.ems}},
                    "other" : {{dataYear.october.other}}
                },
                "november":{
                    "fire" : {{dataYear.november.fire}},
                    "mvc" : {{dataYear.november.mvc}},
                    "ems" : {{dataYear.november.ems}},
                    "other" : {{dataYear.november.other}}
                },
                "december":{
                    "fire" : {{dataYear.december.fire}},
                    "mvc" : {{dataYear.december.mvc}},
                    "ems" : {{dataYear.december.ems}},
                    "other" : {{dataYear.december.other}}
                }
            }
        }
    </p>
{% endfor %}