---
layout: base
---
<div class="CallVolume">
    <table class="charts-css column multiple data-spacing-4">
        <caption> Front End Developer Salary </caption>
        <tbody>
            <tr class="CallVolume">
                <th scope="row"> January </th>
                <td style="--size: calc( 15 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 4 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 3 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 11/ {{ site.call_threshhold }} );"></td>
            </tr>
            <tr class="CallVolume">
                <th scope="row"> Febuary </th>
                <td style="--size: calc( 5 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 6 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 8 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 3 / {{ site.call_threshhold }} );"></td>
            </tr>
            <tr class="CallVolume">
                <th scope="row"> March </th>
                <td style="--size: calc( 10 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 7 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 6 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 19 / {{ site.call_threshhold }} );"></td>
            </tr>
            <tr class="CallVolume">
                <th scope="row"> April </th>
                <td style="--size: calc( 10 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 7 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 7 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 9 / {{ site.call_threshhold }} );"></td>
            </tr>
            <tr class="CallVolume">
                <th scope="row"> May </th>
                <td style="--size: calc( 10 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 5 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 6 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 20 / {{ site.call_threshhold }} );"></td>
            </tr>
            <tr class="CallVolume">
                <th scope="row"> June </th>
                <td style="--size: calc( 7 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 2 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 8 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 15 / {{ site.call_threshhold }} );"></td>
            </tr>
            <tr class="CallVolume">
                <th scope="row"> July </th>
                <td style="--size: calc( 5 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 6 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 5 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 12 / {{ site.call_threshhold }} );"></td>
            </tr>
            <tr class="CallVolume">
                <th scope="row"> August </th>
                <td style="--size: calc( 4 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 5 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 8 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 13 / {{ site.call_threshhold }} );"></td>
            </tr>
            <tr class="CallVolume">
                <th scope="row"> September </th>
                <td style="--size: calc( 7 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 3 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 7 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 28 / {{ site.call_threshhold }} );"></td>
            </tr>
            <tr class="CallVolume">
                <th scope="row"> October </th>
                <td style="--size: calc( 8 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 2 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 5 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 12 / {{ site.call_threshhold }} );"></td>
            </tr>
            <tr class="CallVolume">
                <th scope="row"> November </th>
                <td style="--size: calc( 10 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 10 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 8 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 18 / {{ site.call_threshhold }} );"></td>
            </tr>
            <tr class="CallVolume">
                <th scope="row"> Febuary </th>
                <td style="--size: calc( 5 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 5 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 8 / {{ site.call_threshhold }} );"></td>
                <td style="--size: calc( 12 / {{ site.call_threshhold }} );"></td>
            </tr>
        </tbody>
    </table>
</div>